* {
  color: rgb(31, 54, 67);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
  letter-spacing: 0.5px;
}

body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  margin-bottom: 1.25rem;
}

h2 {
  margin-top: 1rem;
}

div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

button {
  width: calc(50px + 4vw);
  height: calc(50px + 4vw);
}
